autopep8
cartopy
cftime
cloudpickle
cython
dask
dask-labextension
descartes
emcee
ffmpeg
fiona
geopandas
gitpython
imageio
ipympl
ipywidgets
jupyterlab
jupyterlab_execute_time
jupyterlab-git
jupyter-resource-usage
jupyterlab_vim
matplotlib
metpy
mpi4py
nc-time-axis
netcdf4
nodejs
numba
numpy
openh264
pandas
pip
pyshp
pywavelets
qtpy
schwimmbad
scikit-image
scikit-learn
scipy
seaborn
setuptools
shapely
statsmodels
sympy
tk
widgetsnbextension
x264
xarray
xlsxwriter
